@model mtg_app.Models.Collection.CollectionCardViewModel;


<tr class="text-center">
    <td><a asp-action="SingleCard" asp-route-cardId="@Model.CardId">@Model.Name</a></td>
    <td>@Model.Type</td>
    <td>@Model.Variations</td>
    <td>✅</td>

    <!--extra td here for "on the market", see the Collection.cshtml page-->

</tr>
