<div class="container flex flex-row">
    <div class="">
        <form
            asp-controller="Collection"
            asp-action="SearchCollectionCard"
            method="GET"
            id="search">
            <div class="container flex-row">
                <input type="text" name="Name" value="" class="form-control"/>
                <input type="submit" form="search" value="Search" class="btn btn-primary ms-2">
            </div>

        </form>
    </div>
    <form
        asp-controller="Collection"
        asp-action="FilterCollectionCard"
        method="GET"
        id="filter_container" class="">
        <div>
            <label for="rarity_code" class="fs-6 fw-bold">Rarity:</label>
            <select id="rarity_code" name="rarity_code" class="form-select" form="filter_container">
                <option value=null></option>
                @foreach (var rarityLevels in Model.Rarity)
                {
                    <option value=@rarityLevels>@rarityLevels</option>
                }
            </select>
        </div>

        <div>
            <label for="converted_mana_cost" class="fs-6 fw-bold">Mana cost:</label>
            <select id="converted_mana_cost" name="converted_mana_cost" class="form-select" form="filter_container">
                <option value=null></option>
                @foreach (var manaCostLevels in Model.ManaCost)
                {
                    <option value=@manaCostLevels>@manaCostLevels</option>
                }
            </select>
        </div>

        <div>
            <label for="power" class="fs-6 fw-bold">Power:</label>
            <select id="power" name="power" form="filter_container" class="form-select">
                <option value=null></option>
                @foreach (var powerLevels in Model.Power)
                {
                    <option value=@powerLevels>@powerLevels</option>
                }
            </select>
        </div>

        <div>
            <label for="thoughness" class="fs-6 fw-bold">Thoughness:</label>
            <select id="thoughness" name="thoughness" form="filter_container" class="form-select">
                <option value=null></option>
                @foreach (var thoughnessLevels in Model.Thoughness)
                {
                    <option value=@thoughnessLevels>@thoughnessLevels</option>
                }
            </select>
        </div>

        <input type="submit" value="Filter" class="btn btn-secondary" form="filter_container">
        
    </form>
</div>