@{
    ViewData["Title"] = "Collection";
}
<header>
<!--autogen header here-->

<div class="text-center">
    <h1 class="display-4">Collection</h1>
    <p>Here is your collection:</p>
</div>
</header>
<body>
<!--autogen style, move this to css later-->

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-bottom: 5px solid red;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-bottom: 5px solid red; font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-im3k{border-color:#ffc702;text-align:center;vertical-align:top}
.tg .tg-n57l{background-color:#f56b00;border-color:#f8a102;color:#330001;position:-webkit-sticky;position:sticky;text-align:left;
  top:-1px;vertical-align:top;will-change:transform}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-n57l">    Image   </th>
    <th class="tg-n57l">Name</th>
    <th class="tg-n57l">Amount in collection</th>
    <th class="tg-n57l">...</th>
    <th class="tg-n57l">...</th>
    <th class="tg-n57l">...</th>
    <th class="tg-n57l">...</th>
    <th class="tg-n57l">Info</th>
  </tr>
</thead>
<tbody>

</tbody>
</table>
</body>

<script>
    document.addEventListener('DOMContentLoaded', init);

    function init() {
        const tableBody = document.querySelector(".tg tbody");
        for (let  i=0; i < 50; i++) {
            tableBody.insertAdjacentHTML('beforeend', `
                    <tr>
                        <td class="tg-im3k">x</td>
                        <td class="tg-im3k">y</td>
                        <td class="tg-im3k">z</td>
                        <td class="tg-im3k">x</td>
                        <td class="tg-im3k">y</td>
                        <td class="tg-im3k">z</td>
                        <td class="tg-im3k">x</td>
                        <td class="tg-im3k"><a href=#>view</a></td>
                    </tr>`)
        }
    }
</script>
<!--this has to be removed in final, this is just to fill the space-->
<!--autogen footer here-->