@{
    ViewData["Title"] = "Collection";
}
@model mtg_app.Models.Collection.CollectionViewModel;
<header>

<div class="text-center">
    <h1 class="display-4">Collection</h1>
    <p>Here is your collection:</p>
</div>
</header>
<body>
    @{await Html.RenderPartialAsync("_FilterCollectionPartial");}
    <div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Model.ColumnCardName</th>
                    <th>@Model.ColumnCardType</th>
                    <th>@Model.ColumnCardVariations</th>
                    <th>@Model.ColumnCardInCollection</th>
                </tr>
            </thead>
            <tbody>

            @{
                System.Diagnostics.Debug.Assert(Model.Cards != null, "Model.Cards != null");
            }
            @foreach (var card in Model.Cards) {
                    await Html.RenderPartialAsync("_CollectionPartial", card);
                }
            </tbody>
        </table>
    </div>
</body>