@{
    ViewData["Title"] = "Packs In Collection";
}
@model mtg_app.Models.Collection.Packs.CollectionPacksViewModel;

<body>

    <div class="text-center">
        <h1 class="display-4">Packs Collection:</h1>
    </div>
    
    <div>
        <p class="fs-5" >Pack Amount: @Model.PackAmounts</p>
        @{
            if (@Model.PackAmounts > 0)
            {
                <a asp-action="OpenPack" class="btn btn-dark">Open Pack</a>
            }
        }
    </div>

</body>