@{
    ViewData["Title"] = "Packs In Collection";
}
<header>
    <!--autogen header here-->

    <div class="text-center">
        <h1 class="display-4">Collection</h1>
        <p>Here is your Pack collection:</p>
    </div>
</header>
<body>
<!--autogen style, move this to css later-->


</body>