@{
    ViewData["Title"] = "FilterCards";
}

@model mtg_app.Models.Card.CardsViewModel;

<header>
    
    <div class="text-center">
        <h1 class="display-4">Filter results</h1>
    </div>
    
</header>

<body>
    @{await Html.RenderPartialAsync("_FilterPartial");}    
    <div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Model.ColumnCardName</th>
                    <th>@Model.ColumnCardType</th>
                    <th>@Model.ColumnCardVariations</th>
                    <th>@Model.ColumnCardInCollection</th>
                </tr>
            </thead>
            <tbody>

            @{
                System.Diagnostics.Debug.Assert(Model.Cards != null, "Model.Cards != null");
            }
            @foreach (var card in Model.Cards) {
                    await Html.RenderPartialAsync("_CardsPartial", card);
                }
            </tbody>
        </table>
    </div>
</body>