@model mtg_app.Models.LandingViewModel

@*Header met master view*@
<h1 class="fw-bold text-black text-center">Welcome</h1>

@{
    System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
}
@if(User.Identity.IsAuthenticated)
{
    <p class="fs-4 text-center fw-bold text-success" >
        Congrats, you are authenticated!
    </p> 
}


@*Footer met master view*@
