html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#card_carousel {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  align-content: center;
}

#carousel_item {
  border: 2px solid purple;
  padding: 2rem;
  margin: 0 0.5rem 2rem 0.5rem;
  border-radius: 5px;
}

#container {
  display: flex;
  justify-content: space-around;
  width: 100vW;
}

#buying_cart {
  display: flex;
  justify-content: space-between;
}

#filter_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container{display:flex;  justify-content: center;  align-items: center; } .c1,.c2{display: block; margin: 0 1rem 0 1rem;}