@{
    ViewData["Title"] = "Coins";
}

 @model mtg_app.Models.Coin.CoinViewModel;

<header>
    
    <div class="text-center">
        <h1 class="display-4 fw-bold">Coin Bank</h1>
    </div>
    
</header>

<body>
<div>
    <p class="fs-3" >Current Coin Balance:</p>
    <p class="fs-5 text-success fw-bold" >@Model.UserCoinBalance</p>
</div>


<div>
    @{
        if (!@Model.ReceivedDefaultCoins)
        {
           <a asp-action="ReceiveFreeCoins" class="btn btn-primary" >Receive Starting Coins!</a> 
        }

        if (!@Model.ReceivedDailyCoins)
        {
            <a asp-action="ReceiveDailyCoins" class="btn btn-primary" >Receive Daily Coins! </a>
        }
        else
        {
            <p class="text-danger" >You have already collected your Daily Coins!</p>
        }
    }
</div>
</body>