@{
    ViewData["Title"] = "Trading";
}

@model mtg_app.Models.LandingViewModel

@*Header met master view*@
<header>
    
    <div class="text-center">
        <h1 class="display-4">WIP: Trading Page</h1>
    </div>
    
</header>
@*Footer met master view*@