@model mtg_app.Models.ListingsViewModel

@*Header met master view*@

<h1 class="fw-bold text-black text-center" >Webshop</h1>

<div>
    <h2>Buy a Booster Pack</h2>
    <b>What is a booster pack?</b><br>
    A booster pack contains 15 cards:<br>
    <ul>
        <li>
            1x <a asp-controller="Card" asp-action="Index">Rare or Mythic Rare</a>
        </li>
        <li>
            1x <a asp-controller="Card" asp-action="Index">Basic Land</a>
        </li>
        <li>
            3x <a asp-controller="Card" asp-action="Index">Uncommon</a>
        </li>
        <li>
            10x <a asp-controller="Card" asp-action="Index">Common</a>
        </li>
    </ul>
    
    <a asp-controller="Webshop" asp-action="BuyBoosterPack" class="btn btn-primary" >BUY BOOSTER PACK</a>
</div>


<br>



@*Footer met master view*@