@model mtg_app.Models.ListingsViewModel

@*Header met master view*@





<h1>WIP: ALL LISTINGS</h1>

@*@foreach (var listing in Model.Listings) {*@
    <a>USE A PARTIAL HERE "CardListingPartial"?</a>
    @*<partial name="CardListingPartial" model="Model">*@
@*}*@






@*Footer met master view*@